<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concours Mines-Telecom</title>
    <!--Import header-->
    <script src="static/js/Header.js" type="text/javascript" defer></script>
    <script src="static/js/Footer.js" type="text/javascript" defer></script>
    <!-- Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet"> 
    
    <!--Import css-->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/font-awesome/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <!-- header-->
    <header-component></header-component>
    <!--end header-->

    <!--Bannière-->
    <section class="container-fluid banner">
        <div class="ban">
            <img src="static/img/ban.jpg" alt="Bannière du site"/>
        </div>
        <div class="inner-banner">
            <h1>Bienvenue sur le site des concours</h1>
            <button class="btn btn-custom" type="button" id="monBouton">Contactez-nous !</button>
            
        </div>
    </section>
    <!--end bannière--> 
    
 
    <!--Ecoles-->
    <section class="container-fluid ecole">
        <div class="container">
          <h2 id="Listeecole">Liste des écoles</h2>
          <hr class="separator">
          <div class="row">
            <article class="col-md-3 col-lg-3 col-xs-3 col-sm-3 item-folio">
              <img src="static/img/agrosup.jpg" alt="agrosup"/>
            </article>
            <article class="col-md-3 col-lg-3 col-xs-3 col-sm-3 item-folio">
              <img src="static/img/centrale.png" alt="centrale"/>
            </article>
            <article class="col-md-3 col-lg-3 col-xs-3 col-sm-3 item-folio">
              <img src="static/img/IMT.webp" alt="imt"/>
            </article>
            <article class="col-md-3 col-lg-3 col-xs-3 col-sm-3 item-folio">
              <img src="static/img/inp.png" alt="inp"/>
            </article>
            <article class="col-md-3 col-lg-3 col-xs-3 col-sm-3 item-folio">
              <img src="static/img/insa.jpg" alt="insa"/>
            </article>
            <article class="col-md-3 col-lg-3 col-xs-3 col-sm-3 item-folio">
              <img src="static/img/ens.jpg" alt="ens"/>
            </article>
            <article class="col-md-3 col-lg-3 col-xs-3 col-sm-3 item-folio">
              <img src="static/img/isma.jpg" alt="isma"/>
            </article>
            <article class="col-md-3 col-lg-3 col-xs-3 col-sm-3 item-folio">
              <img src="static/img/sigma.jpg" alt="sigma"/>
            </article>
          </div>
        </div>
    </section>

    <!--end Ecoles-->
  <!--Contacts-->
  <section class="container-fluid mail">
    <div class="container">
      <h2 id="Elèves_Titre">Elèves</h2>
      <hr class="separator">
      <h2 class="Elèves"> 
         <b> Michael Enescu : </b><a href ="mailto:Michael.Enescu@telecomnancy.eu">Michael.Enescu@telecomnancy.eu</a>
      </h2>
      <div class="row"></div>
      <h2 class="Elèves">
         <b> Emilien Petiteau : </b><a href ="mailto:Emilien.Petiteau@telecomnancy.eu">Emilien.Petiteau@telecomnancy.eu</a>
      </h2>
      <div class="row"></div>
      <h2 class="Elèves"> 
        <b> Thomas Balduz: </b><a href ="mailto:Thomas.Balduz@telecomnancy.eu">Thomas.Balduz@telecomnancy.eu</a>
      </h2>  
      </div>
       <h2 id="Elèves_Titre">Encadrants</h2>
      <hr class="separator">
      <div class="row prof">
        <h2 class="Elèves">  
          <b> Sebastien Da Silva : </b> <a href ="mailto:sebastien.dasilva@telecomnancy.eu">sebastien.dasilva@telecomnancy.eu</a>
        </h2>
      </div>
      <div class="row prof"
        <h2 class="Elèves">  
          <b> Gerald Oster : </b> <a href ="mailto:gerald.oster@telecomnancy.eu">gerald.oster@loria.fr</a>
        </h2>
      </div>
    </div>
  </div></section>
  <!--end Contacts-->
    <!--Footer / contact-->
    <footer-component></footer-component>
    <!--end Footer / contact-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> <!-- On ajoute des lib js hébergées par google-->
    <script src="static/js/javascript.js"></script><!-- On importe notre fichier js-->
</body>
</html>