<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Explorer les données du concours Mines-Ponts</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='./index.css') }}">
    </head>

    <body>
        <h1>Explorer les données du concours Mines-Ponts</h1>

        <h2>À propos des étudiants</h2>
        <ul>
            <li><a href="/students_info">profils des candidats</a></li>
            <li><a href="">inspecter les notes</a></li>
            <li><a href="">voeux</a></li>
            <li><a href="">admissibles et admis</a></li>
        </ul>

        <h2>À propos des écoles</h2>
        <ul>
            <li><a href="">établissements d'origine</a></li>
            <li><a href="">écoles d'ingénieurs</a></li>
        </ul>

        <p>>>> <a href="/search_forms">recherches spécifiques</a> <<<</p>
    </body>
</html>