{% extends "base.html" %}
{% block title %}Ecrit{% endblock %}

{% block content %}
<br><br><br>
        <br>
        Moyenne mathematiques : {{ moy }}
        <br>
        <br>
        Moyenne physique : {{ moy2 }}
        <br>
        <br>
        Moyenne francais : {{ moy3 }}
        <br>
        <br>
        Moyenne anglais : {{ moy4 }}
        <br>
        <br>
        Moyenne mathematiques_1 : {{ moy5 }}
        <br>
        <br>
        Moyenne mathematiques_2 : {{ moy6 }}
        <br>
        <br>
        Moyenne phy_chi_1 : {{ moy7 }}
        <br>
        <br>
        Moyenne phy_chi_2 : {{ moy8 }}
        <br>
        <br>
        Moyenne phy_TP : {{ moy9 }}
        <br>
        <br>
        Moyenne Langue : {{ moyc6 }}
        <br>
        <br>
        Moyenne S2I : {{ moyc5 }}
        <br>
        <br>
        Moyenne QCM_info_phy : {{ moyc4 }}
        <br>
        <br>
        Moyenne Maths : {{ moyc3 }}
        <br>
        <br>
        Moyenne Entretien_MT : {{ moyc2 }}
        <br>
        <br>
        Moyenne QCM_Anglais : {{ moyc1 }}
        <br>
        

  <br>
{% endblock %}