<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Site web</title>
    <script src="/static/js/Header.js" type="text/javascript" defer></script>
    <script src="/static/js/Footer.js" type="text/javascript" defer></script>
    <script src="/static/js/charts.js"></script>

    <!-- Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet"> 
    <!--Import css-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/gif" href="../static/favicon.gif" />

</head>
<body onload = "radarChart({{moy}})">
<header-component></header-component>
        {% block content %}
    <div class="row">
        <div class="margin">
        <br><br><br><br>
        Moyenne mathématiques_1 : {{ moy["data"][0] }}
        <br>
        <br>
        Moyenne mathematiques_2 : {{ moy["data"][1] }}
        <br>
        <br>
        Moyenne physique_1 : {{ moy["data"][2] }}
        <br>
        <br>
        Moyenne physique_2 : {{ moy["data"][3] }}
        <br>
        <br>
        Moyenne chimie : {{ moy["data"][4] }}
        <br>
        <br>
        Moyenne Francais : {{ moy["data"][5] }}
        <br>
        <br>
        Moyenne Informatique_SI : {{ moy["data"][6] }}
        <br>
        <br>
        Moyenne Langue : {{ moy["data"][7] }}
        <br>
        <br>
        Moyenne Informatique_pour_tous : {{ moy["data"][8] }}
        <br>
</div>
<canvas id = "radar" width="400" height="400"></canvas>
</div>
{% endblock %}
    </div>
    <footer-component id = "contact"></footer-component>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> <!-- On ajoute des lib js hébergées par google-->
    <script src="/static/js/javascript.js"></script><!-- On importe notre fichier js-->
</body>
</html>