{% extends "base.html" %}
{% block title %}Ecrit{% endblock %}

{% block content %}
<br><br><br>
        <br>
        Moyenne mathématiques_1 : {{ moy }}
        <br>
        <br>
        Moyenne mathematiques_2 : {{ moy2 }}
        <br>
        <br>
        Moyenne physique_1 : {{ moy3 }}
        <br>
        <br>
        Moyenne physique_2 : {{ moy4 }}
        <br>
        <br>
        Moyenne chimie : {{ moy5 }}
        <br>
        <br>
        Moyenne Francais : {{ moy6 }}
        <br>
        <br>
        Moyenne Informatique_SI : {{ moy7 }}
        <br>
        <br>
        Moyenne Langue : {{ moy8 }}
        <br>
        <br>
        Moyenne Informatique_pour_tous : {{ moy9 }}
        <br>
  <br>
{% endblock %}