<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='./search_forms.css') }}">
    </head>

    <body>
        <button onclick =  "window.location.href = '/'">retour au menu</button>
        <br>
        <h3>Rechercher un étudiant</h3>
        <b>Par l'identifiant</b><br>
        <form id = "form_id" method = "post">
            <p>
                <label for = "id">Identifiant : </label>
                <input type = "text" name = "id" id = "id" required/>
                <button type = "submit" form = "form_id" value = "Submit">Rechercher</button>
            </p>
        </form>
        <br>
        <b>Par le nom et le prénom</b><br>
        <form id = "form_name" method = "post">
            <p>
                <label for = "name">Nom : </label>
                <input type = "text" name = "name" id = "name" required/>
                <label for = "first_name">Prénom : </label>
                <input type = "text" name = "first_name" id = "first_name" required/>
                <button type = "submit" form = "form_name" value = "Submit">Rechercher</button>
            </p>
        </form>
    </body>
</html>