<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='./students_info.css') }}">
    </head>

    <body>
        <button onclick =  "window.location.href = '/'">retour au menu</button>
        <br>
        <h3>Liste des étudiants :</h3>
        <table>
            <tr>
                <th>identifiant</th>
                <th>nom</th>
                <th>prénom</th>
            </tr>
            {% for item in tab: %}
                <tr>
                {% for j in range(3): %}
                    <td>{{item[j]}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        

    </body>
</html>