{% extends "base.html" %}
{% block title %}Classes_CMT_spe_XXX{% endblock %}

{% block content %}
<br><br><br>
<table class="table table-striped">
  <thead>
    <tr class="table-secondary">
      {% for h in results2 %}
         <th scope="col">{{ h[1] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for r in results %}
    <tr>
      {% for x in r %}
        {% if (x != "nan") and (x != None) %}
          <td scope="row">{{ x }}</td>
        {% else %}
          <td scope="row"></td>
        {% endif %}
      {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}