<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training V1</title>
    <!--Import header-->
    <script src="static/js/Header.js" type="text/javascript" defer></script>
    <script src="static/js/Footer.js" type="text/javascript" defer></script>
    <!-- Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet"> 
    <!--Import css-->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>

    <!-- header-->
    <header-component></header-component>
    <!--end header-->

    <!--Bannière-->
    <section class="container-fluid banner">
        <div class="ban">
            <img src="static/img/ban.jpg" alt="Bannière du site"/>
        </div>
        <div class="inner-banner">
            <h1>Bienvenue sur le site des concours</h1>
            <button class="btn btn-custom" type="button" id="monBouton">Contactez-nous !</button>
            
        </div>
    </section>
    <!--end bannière--> 
    
    <!--A propos-->
    <section class="container-fluid about">
        <div class="container">
          <h2 id="about"> TIPE</h2>
          <hr class="separator">
          <div class="row">
              <article class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
                  <h2>Filières</h2>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam vitae rerum et a veritatis esse iure reiciendis earum, repellat incidunt libero nesciunt ab labore alias! Impedit eaque numquam repudiandae iure?
                  </p>
              </article>
              <article class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
                  <h2>Sujets</h2>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam vitae rerum et a veritatis esse iure reiciendis earum, repellat incidunt libero nesciunt ab labore alias! Impedit eaque numquam repudiandae iure?
                  </p>
              </article>
                <article class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
                  <h2>Notes</h2>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam vitae rerum et a veritatis esse iure reiciendis earum, repellat incidunt libero nesciunt ab labore alias! Impedit eaque numquam repudiandae iure?
                  </p>
              </article>
          </div>
        </div>
        
    </section>
    <!--end A propos-->

    <!--Ecoles-->
    <section class="container-fluid ecole">
        <div class="container">
          <h2 id="Listeecole">Liste des écoles</h2>
          <hr class="separator">
          <div class="row">
            <article class="col-md-3 col-lg-3 col-xs-3 col-sm-3 item-folio">
              <img src="static/img/agrosup.jpg" alt="agrosup"/>
            </article>
            <article class="col-md-3 col-lg-3 col-xs-3 col-sm-3 item-folio">
              <img src="static/img/centrale.png" alt="centrale"/>
            </article>
            <article class="col-md-3 col-lg-3 col-xs-3 col-sm-3 item-folio">
              <img src="static/img/IMT.webp" alt="imt"/>
            </article>
            <article class="col-md-3 col-lg-3 col-xs-3 col-sm-3 item-folio">
              <img src="static/img/inp.png" alt="inp"/>
            </article>
            <article class="col-md-3 col-lg-3 col-xs-3 col-sm-3 item-folio">
              <img src="static/img/insa.jpg" alt="insa"/>
            </article>
            <article class="col-md-3 col-lg-3 col-xs-3 col-sm-3 item-folio">
              <img src="static/img/ens.jpg" alt="ens"/>
            </article>
            <article class="col-md-3 col-lg-3 col-xs-3 col-sm-3 item-folio">
              <img src="static/img/isma.jpg" alt="isma"/>
            </article>
            <article class="col-md-3 col-lg-3 col-xs-3 col-sm-3 item-folio">
              <img src="static/img/sigma.png" alt="sigma"/>
            </article>
          </div>
        </div>
    </section>
    <!--end Ecoles-->

    <!--Footer / contact-->
    <footer-component></footer-component>
    <!--end Footer / contact-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> <!-- On ajoute des lib js hébergées par google-->
    <script src="static/js/javascript.js"></script><!-- On importe notre fichier js-->
</body>
</html>