@charset "UTF-8";

/* font-family: 'Roboto', sans-serif; */

/*@font-face {
    font-family: 'Roboto' ;
    src: "static/font/Roboto-Regular.ttf";
}*/



body, html {
    padding : 0;
}

body{
    font-family: '/Roboto-Regular', sans-serif;
}

a,a:hover {
    text-decoration: none;
    margin: 30px;
}

canvas {
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    padding-top: 5%;
    color : #023059
}

form {
    margin: 30px;
}

.separator {
    height: 3px;
    width: 5%;
    border: none;
    box-sizing: none;
    background-color: #88BACF;
}

p {
    padding: 10px;
    margin:auto;
}




/* bannière */
.banner {
    width: 100%;
    max-width: 100%;
}

.ban {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.ban img {
    width: 100%;
    max-width: 100%;
}

.inner-banner {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
}

.inner-banner h1 {
    color: #95c1d8;
    text-shadow: 1px 1px 10px #000000;
    font-size: 50px;
}

.inner-banner .btn-custom {
    background-color: #699fb6;
    color: #ffffff;
}

.inner-banner .btn-custom:hover {
    background-color: #547280;
}
/* about */

#about {
    text-align: center;
    padding-top: 10%;
}

.about article {
    margin-top: 10%;
    margin-bottom: 10%;
}

.about article h2 {
    text-align: center;
}


/* ECOLE */
.ecole {
    background-color: #eeeeee;
    height: 800px;
}

#Listeecole {
    text-align: center;
    padding-top: 5%;
}


/* CONTACT */

.mail .Elèves {
    width: 100%;
    text-align: center;
    padding-top: 5%;
}

.mail .Elèves a{
    text-decoration: none;
    color:#023059;
}

.mail .Elèves a:hover{
    color: #547280;
}

#Elèves_Titre {
    text-align: center;
    padding-top: 5%;
}

.prof {
    padding-bottom: 5%;
}

.ecole .item-folio {
    height: 280px;
    background-color: #547280;
}
.ecole .item-folio img {
    width: 100%;
    height: 100%;
    padding-top : 10%;
    padding-bottom : 10%;
}


/* RECHERCHES */

.recherche {
    width: 100%;
    height: 100%;
    line-height: 100px;
    padding-bottom: 100px;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    width: 400px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  
  input {
    height: 30px;
    flex: 0 0 200px;
    margin-left: 0px;
    margin-bottom: 10px;
  }

